.events_1 {
    height: 32vh;
    background-color: #cce7f2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Event_head_1 {
    padding-top: 0;
    font-family: "roboto", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(3, 3, 8);
    margin: 0;
}

.Event_para_1 {
    font-family: "roboto", sans-serif;
    font-size: 20px;
    color: #0000009c;
    margin: 20px 0 0 0;
}