.End_section {
    min-height: auto;
    background-color: #e2ecf7;
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Card_of_End_1 {
    height: 200px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 20px;
    margin: 25px;
    border-style: solid;
    border-color: rgba(97, 128, 132, 0.697);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head_for_End_card {
    font-family: "roboto", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #3581ec;
    margin-bottom: 10px;
}

.head_for_End_card_2 {
    color: #2ecad2;
}

.para_for_end_cards {
    color: #0000009c;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}